In [25]:
import numpy as np
import pandas as pd

In [26]:
train_data = pd.read_csv('/Users/eashan22/Desktop/DataMining/FinalProject/Dataset/train_data.csv')
train_labels = pd.read_csv('/Users/eashan22/Desktop/DataMining/FinalProject/Dataset/train_label.csv')
test_data = pd.read_csv('/Users/eashan22/Desktop/DataMining/FinalProject/Dataset/test_data.csv')

total_data = train_data.append(test_data).reset_index(drop=True)
total_data.tail(1)

,id,name,lvl1,lvl2,lvl3,descrption,price,type
36282,36283,Linear Belt Couple Watch - (9366-1)(Export) - ...,Watches Sunglasses Jewellery,Watches,Women,<div> <ul> <li>Strap material: steel strap</li...,10.01,international

In [27]:
total_data = pd.get_dummies(total_data, dtype=float)

In [28]:
total_data.shape

(36283, 67700)

In [29]:
total_data = total_data[total_data.columns[60000:67700]]

In [30]:
#Split the data into 50% 
from sklearn.model_selection import train_test_split
X_train, X_test = train_test_split(total_data, test_size = 0.5)

In [31]:
X_train.shape

(18141, 7700)

In [32]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn import datasets
from sklearn import metrics
from sklearn.metrics import accuracy_score

%pylab inline 
%matplotlib inline

Populating the interactive namespace from numpy and matplotlib

In [33]:
# X_train = train_data

y_train = train_labels
y_train.set_index('id',inplace=True)
y_train.index.rename('id', inplace=True)

# X_test = test_data
y_test = pd.read_csv("/Users/eashan22/Desktop/DataMining/FinalProject/Dataset/submission.csv")

In [34]:
# Classifier 4 : Logistic Regression
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

model = LogisticRegression()
model.fit(X_train,y_train)
pipe_lr = Pipeline([('scl', StandardScaler()),
                    ('pca', PCA(n_components=3)),
                    ('clf', LogisticRegression())])
pipe_lr.fit(X_train, y_train)
y_pred = model.predict_proba(X_test)

# Classifier 2 : Decision Trees
# from sklearn import tree
# from sklearn.tree import DecisionTreeClassifier

# clf_gini = DecisionTreeClassifier(criterion = "gini", random_state = 5000, max_depth=8, min_samples_leaf=2)
# clf_gini.fit(X_train, y_train)
# y_pred = clf_gini.predict_proba(X_test)

In [ ]:
from sklearn.model_selection import GridSearchCV
param_range = [0.0001, 0.001, 0.01, 0.1, 1.0, 10.0, 100.0, 1000.0]

param_grid = [{'clf__C': param_range, }]

gs = GridSearchCV(estimator=pipe_lr, 
                  param_grid=param_grid, 
                  scoring='accuracy', 
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(X_train, y_train)
print(gs.best_score_)
print(gs.best_params_)

In [12]:
clf = gs.best_estimator_
clf.fit(X_train, y_train)

Pipeline(memory=None,
     steps=[('scl', StandardScaler(copy=True, with_mean=True, with_std=True)), ('pca', PCA(copy=True, iterated_power='auto', n_components=3, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)), ('clf', LogisticRegression(C=0.0001, class_weight=None, dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='warn', n_jobs=None, penalty='l2', random_state=None,
          solver='warn', tol=0.0001, verbose=0, warm_start=False))])

In [13]:
from sklearn.model_selection import cross_val_score
gs = GridSearchCV(estimator=pipe_lr,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3)

# Note: Optionally, you could use cv=2 
# in the GridSearchCV above to produce
# the 5 x 2 nested CV that is shown in the figure.

scores = cross_val_score(gs, X_train, y_train, scoring='accuracy', cv=3)

In [14]:
scores

array([0.68816138, 0.68810981, 0.68805822])

In [15]:
Y_pred = pd.DataFrame(y_pred, columns=[0,'score'])
Y_pred.index = Y_pred.index+18142
Y_pred = Y_pred.drop(0,axis=1)
result = pd.concat([y_test['id'],Y_pred], axis=1)
Y_pred.index.rename('id', inplace=True)

In [16]:
Y_pred

          score
id
18142  0.686225
18143  0.686219
18144  0.686247
18145  0.686246
18146  0.686246
18147  0.686245
18148  0.685599
18149  0.686245
18150  0.686138
18151  0.686240
18152  0.686245
18153  0.686193
18154  0.686244
18155  0.686245
18156  0.686246
18157  0.686245
18158  0.686245
18159  0.686228
18160  0.686244
18161  0.686201
18162  0.686246
18163  0.686246
18164  0.686083
18165  0.686240
18166  0.686246
18167  0.686245
18168  0.686247
18169  0.686242
18170  0.686231
18171  0.686071
...         ...
36254  0.686204
36255  0.686245
36256  0.686243
36257  0.686246
36258  0.686236
36259  0.686220
36260  0.686246
36261  0.686245
36262  0.686234
36263  0.686240
36264  0.686203
36265  0.686246
36266  0.686246
36267  0.686246
36268  0.686246
36269  0.686224
36270  0.686244
36271  0.686242
36272  0.686228
36273  0.686246
36274  0.686239
36275  0.686192
36276  0.686237
36277  0.686247
36278  0.686246
36279  0.686245
36280  0.686189
36281  0.686245
36282  0.685710
36283  0.686162

[18142 rows x 1 columns]